@import "./src/app/features/home/variables";

:host {
  .info {
    z-index: 10;

    .menu {
      margin-bottom: 50px;

      a {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
        color: $text-color2;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: bold;
        margin-right: 20px;

        &.active, &:hover {
          color: $text-color;

          &:after {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $highlight;
          }
        }
      }
    }
  }
}
