@use './src/app/features/home/variables' as vars;

:host {
  font-family: "Roboto";
  background-color: vars.$secondary;

  .light-container {
    background-color: vars.$primary;
  }

  .dark-container {
    background-color: vars.$primary2;
  }

  ::ng-deep h3 {
    color: vars.$text-color2;
    text-transform: capitalize;
    font-size: .8rem;
    position: relative;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;

    margin: 0;

    &:before {
      content: '';
      background-color: vars.$text-color2;
      width: 7px;
      height: 2px;
      margin: 0 5px;
      display: inline-block;
    }
  }

  ::ng-deep h2 {
    //display: inline;
    margin: 10px 0;
    color: vars.$text-color;
  }

  ::ng-deep h1 {
    font-size: 3rem;
    color: vars.$text-color;
    display: table-caption;
    word-spacing: 9999rem;
    text-transform: uppercase;
  }

  ::ng-deep h4 {
    font-size: 1.2rem;
    color: vars.$highlight2;
  }

  ::ng-deep ul {
    color: vars.$text-color;
  }

  ::ng-deep p {
    color: vars.$text-color2;
    font-size: 1rem;
  }

  ::ng-deep a.link {
    color: vars.$highlight2;
    font-size: 1.2rem;

    fa-icon {
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 1280px) {
    .content {
      margin-top: 0 !important;
    }
  }

  .content {
    margin-top: 40px;

    .container-padding {
      padding: 30px 10% 0 10%;
    }

    .container1 {
      overflow: hidden;

      cv-menu {
        z-index: 1000;
      }

      .left {
        position: relative;

        @media screen and (max-width: 598px) {
          .image-banner {
            padding-left: 0 !important;
          }

          .information {
            position: inherit !important;

            fa-icon {
              font-size: 2rem !important;
            }
          }
        }

        .image-banner {
          width: 100%;
          padding-left: 60px;
        }

        .information {
          position: absolute;
          top: 0;

          a {
            color: vars.$text-color;

            fa-icon {
              font-size: 1.5rem;
              padding: 0 5px;
            }

            &:hover {
              color: vars.$highlight;
            }
          }
        }
      }
    }

    .container2 {
      padding-top: 80px;

      .contact-data {
        font-size: 1.2rem;
        color: vars.$highlight2;
        margin-top: 10px;

        fa-icon {
          margin-right: 20px;
        }
      }

      @media screen and (max-width: 959px) {
        .experience-data {
          margin-top: 50px !important;
        }
      }

      .experience-data {
        .experience-item {
          h1 {
            color: vars.$highlight2;
            margin: 0 20px 0 0;
          }

          span {
            color: vars.$text-color;
            display: table-caption;
            word-spacing: 100rem;
            font-size: .9rem;
            font-weight: bold;
          }
        }
      }

      .actions-container {
        margin-top: 50px;

        @media screen and (max-width: 598px) {
          font-size: 1.5rem;
        }

        .action {
          background-color: vars.$actions-color;
          color: vars.$text-color;
          margin: 0 5px;
          z-index: 100;
          text-decoration: none;
          overflow: hidden;

          &:hover {
            background-color: vars.$highlight;
          }
        }
      }
    }

    .container3 {
      padding-bottom: 40px;
      padding-top: 50px;

      .project-container {
        margin-top: 30px;

        @media screen and (max-width: 500px) {
          .project-card {
            max-height: initial !important;
            min-height: initial !important;
          }
        }

        .project-card {
          text-decoration: none;
          background-color: vars.$actions-color;
          padding: 10px;
          margin: 5px;
          border: solid .5px #00000000;
          //max-height: 170px;
          min-height: 100%;

          .stack {
            color: vars.$highlight;
            margin: 2px;
            font-weight: bold;
          }

          &:hover {
            border: solid .5px vars.$highlight;

            h2 {
              color: vars.$highlight2;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .container4 {
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
}
