<div fxLayout="row"
     class="content"
     fxLayoutAlign="center top">
  <div fxLayout="column"
       fxFlex="60">
    <div fxLayout="row"
         class="container1 container-padding light-container">
      <div fxFlex="60"
           fxLayout="column"
           class="left">
        <img class="image-banner"
             src="/assets/images/banner-image.png"
             alt="guille-banner">
        <div class="information"
             fxLayout="column">
          <h1>Guillermo González Jiménez</h1>
          <div>
            <ng-container *ngFor="let social of socials">
              <a [href]="social.url"
                 [title]="social.label">
                <fa-icon [icon]="social.icon"></fa-icon>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
      <div fxFlex="40"
           fxLayout="column"
           class="info">
        <h3>introduction</h3>
        <h2>Full stack developer</h2>
        <p>Guillermo, aka 'Guille' I'm an experienced software engineer with more than 5 years experience in
          technologies
          like Node.js, Python, Java and DevOps tools like Docker and GitLab CI/CD.</p>
      </div>
    </div>
    <div class="container2 container-padding dark-container"
         fxLayout="column">
      <div fxLayout="row">
        <div fxLayout="column"
             fxFlex="50">
          <h3>Profile</h3>
          <h2>How contact me</h2>
          <p>You can email me, or call me if you are interesting on my profile</p>
        </div>
        <div fxFlex="50">
          <h2>My experience in the field</h2>
          <p></p>
        </div>
      </div>
      <div class="actions-container"
           fxLayout="row"
           #actions_container
           fxLayoutAlign="center center">
        <a fxFlex="30"
           href="#"
           fxLayout="row"
           [style.height.px]="actionHeight"
           [style.marginBottom.px]="-actionHeight / 2"
           fxLayoutAlign="center center"
           class="action">
          <fa-icon [icon]="podcastIcon"></fa-icon>
          <h2 [fxShow.xs]="false"
              [fxShow.sm]="false">Podcast</h2>
        </a>
        <a fxFlex="30"
           href="#"
           fxLayout="row"
           [style.height.px]="actionHeight"
           [style.marginBottom.px]="-actionHeight / 2"
           fxLayoutAlign="center center"
           class="action">
          <fa-icon [icon]="laptopIcon"></fa-icon>
          <h2 [fxShow.xs]="false"
              [fxShow.sm]="false">Public project</h2>
        </a>
        <a fxFlex="30"
           href="#"
           fxLayout="row"
           [style.height.px]="actionHeight"
           [style.marginBottom.px]="-actionHeight / 2"
           fxLayoutAlign="center center"
           class="action">
          <fa-icon [icon]="educationIcon"></fa-icon>
          <h2 [fxShow.xs]="false"
              [fxShow.sm]="false">Education</h2>
        </a>
      </div>
    </div>
    <div [style.height.px]="actionHeight / 2"
         class="container-padding light-container"></div>
    <div class="container3 container-padding light-container"
         fxLayout="row"
         fxLayoutAlign="center center">
      <p>Copyright © {{getDate()}}</p>
    </div>
  </div>
</div>
