<div fxLayout="row"
     class="content"
     fxLayoutAlign="center top">
  <div fxLayout="column"
       fxFlex.md="100"
       fxFlex.sm="100"
       fxFlex.xs="100"
       fxFlex="80"
       fxFlex.xl="60">
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayout.sm="column"
         class="container1 container-padding light-container">
      <cv-menu fxHide.gt-sm="true"></cv-menu>
      <div fxFlex="60"
           fxLayout="column"
           class="left">
        <div class="information"
             fxLayout="column">
          <h1>Guillermo González Jiménez</h1>
          <div fxLayout.xs="row wrap">
            <ng-container *ngFor="let social of socials">
              <a [href]="social.url"
                 fxFlex.xs=""
                 [title]="social.label">
                <fa-icon [icon]="social.icon"></fa-icon>
              </a>
            </ng-container>
          </div>
        </div>
        <img class="image-banner"
             src="/assets/images/banner-image.png"
             alt="guille-banner">
      </div>
      <cv-menu fxFlex="40"
               fxShow.xs="false"
               fxShow.sm="false"
               fxHide.gt-md="false"></cv-menu>
    </div>
    <div class="container2 container-padding dark-container"
         fxLayout="column">
      <div fxLayout="row"
           fxLayout.xs="column"
           fxLayout.sm="column">
        <div fxLayout="column"
             fxFlex.sm="100"
             fxFlex.xs="100"
             fxFlex="50">
          <h3>Profile</h3>
          <h2>How contact me</h2>
          <p>You can email me, or call me if you are interesting on my profile</p>
        </div>
        <div fxFlex.sm="100"
             fxFlex.xs="100"
             fxFlex="50">
          <h2>My experience in the field</h2>
          <p></p>
        </div>
      </div>
      <div class="actions-container"
           fxLayout="row"
           #actions_container
           fxLayoutAlign="center center">
        <ng-container *ngFor="let action of actions">
          <a fxFlex="30"
             [href]="action.url"
             fxLayout="row"
             [style.height.px]="actionHeight"
             [style.marginBottom.px]="-actionHeight / 2"
             fxLayoutAlign="center center"
             class="action">
            <fa-icon fxFlex="30"
                     fxLayoutAlign="center center"
                     [icon]="action.icon"></fa-icon>
            <h2 fxFlex="70"
                fxLayoutAlign="start center"
                [fxShow.xs]="false">{{action.label}}</h2>
          </a>
        </ng-container>
      </div>
    </div>
    <div [style.height.px]="actionHeight / 2"
         class="container-padding light-container"></div>
    <div class="container3 container-padding light-container"
         fxLayout="row"
         fxLayoutAlign="center center">
      <p>Copyright © {{getDate()}}</p>
    </div>
  </div>
</div>
