<div fxLayout="row"
     class="content"
     fxLayoutAlign="center top">
  <div fxLayout="column"
       fxFlex="60">
    <div fxLayout="row"
         class="container1 container-padding">
      <div fxFlex="60"
           fxLayout="column"
           class="left">
        <img class="image-banner"
             src="/assets/images/banner-image.png"
             alt="guille-banner">
        <div class="information"
             fxLayout="column">
          <h1>Guillermo González Jiménez</h1>
          <div>
            <a href="#">
              <fa-icon [icon]="faceIcon"></fa-icon>
            </a>
            <a href="#">
              <fa-icon [icon]="twitterIcon"></fa-icon>
            </a>
            <a href="#">
              <fa-icon [icon]="linkedinIcon"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <div fxFlex="40"
           fxLayout="column"
           class="info">
        <h3 fxLayout="row" fxLayoutAlign="start center">introduction</h3>
        <h2>Full stack developer</h2>
        <p>Guillermo, aka 'Guille' I'm an experienced software engineer with more than 5 years experience in technologies
          like Node.js, Python, Java and DevOps tools like Docker and GitLab CI/CD.</p>
      </div>
    </div>
  </div>
</div>
