$padding: 35px;

$primary: #404040;
$secondary: #a6a6a6;
$secondary2: #cbcbcb;
$white: #fff;
$black: #000;

$background: #dad9dc;

body {
  background-color: $background !important;
}

:host {
  @font-face {
    font-family: 'Lato Light';
    src: url('../../../../assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  //noinspection CssNoGenericFontName,CssInvalidPropertyValue
  font-family: sans-serif;

  .fill-space {
    width: 100%;
  }

  &:before {
    content: "";
    position: fixed;
    width: 5%;
    height: 5%;
    background-color: $primary;
    bottom: 0;
    right: 0;
    opacity: 0;
  }

  @media print {
    &:before {
      opacity: 1 !important;
    }

    .page {
      width: 100vw !important;
      max-width: 100vw !important;
      min-height: 100vh !important;
      box-shadow: none !important;
      margin: 0 !important;
    }
  }

  .page {
    overflow-x: hidden;
    position: relative;
    box-shadow: 0 5px 10px $black;
    margin: 20px 0;

    .print-button {
      position: fixed;
      border: none;
      width: 40px;
      height: 40px;
      background-color: blue;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      right: 30px;
      top: 30px;
      z-index: 100000;

      &:hover {
        cursor: pointer;
      }
    }

    @media print {
      .print-button {
        display: none;
      }
    }

    @media print {
      .new-page {
        break-before: page;
      }
    }

    .cv-banner {
      height: 150px;
      background-color: $primary;
      padding: 30px 60px;
      z-index: 1000;
      border-bottom: solid #fff;

      h1, h2 {
        text-transform: uppercase;
        font-family: sans-serif;
        margin: 0;
      }

      h1 {
        color: $white;
        font-size: 2rem;
      }

      h2 {
        color: $secondary;
        font-size: 1.1rem;
      }

      .image-container {
        height: 200px;
        border: solid #fff;
        border-radius: 50%;
        margin-top: -20px;

        img {
          height: calc(100% - 40px);
          border: solid 20px $secondary;
          border-radius: 50%;
        }
      }
    }

    .cv-bottom-banner {
      padding: 20px 60px;
      background-color: $secondary;

      .cv-bottom-banner-inner {
        width: 85%;

        .personal-data {
          margin: 5px;
          font-family: sans-serif;

          a {
            text-decoration-color: $black;
            color: $black
          }

          .data-title {
            margin-right: 5px;
            text-transform: capitalize;
          }
        }
      }
    }

    .skills {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .skill {
        margin-bottom: 10px;

        .progress {
          position: relative;

          .tile-container {
            position: absolute;
            top: 0;
          }

          .tile-container, .bar-container {
            display: flex;
          }

          .tile {
            background-color: $primary;
          }

          .bar {
            background-color: $secondary2;
          }

          .tile, .bar {
            width: 10px;
            height: 10px;
            transform: skew(-30deg);
            margin-right: 5px;
          }
        }
      }
    }

    .title {
      display: flex;
      flex-direction: row;

      h2 {
        white-space: nowrap;
        margin: 0 $padding 0 0;
      }

      .line-container {
        width: 100%;
        position: relative;

        .line {
          background-color: $primary;
          width: 100%;
          height: 2px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    table {
      ::ng-deep h2 {
        margin: 0.83rem 0 !important;
      }

      .date {
        margin: 0.83rem 0;
      }
    }

    .cv-margin {
      margin: 10px 60px;
      display: block;
    }
  }
}
